*{
    --primary-color: #fafafa;
    --secondary-color: #eeeeee;
    --accent-color: rgb(12, 78, 0);
}


body{
    margin: 0;
    background: rgb(1,0,22);
    background: var(--primary-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.centered{
    align-items: center;
}